.modal{
    position: fixed;
    min-height: 100vh;
    width: 100%;
    top: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    z-index: 20; 
    backface-visibility: hidden;

  }
    
  .modal__container--search {
    height: 100vh;
    overflow-y: auto;
    background-color: #f9f9f9 ;
  }
  
  .modal__container--bag {
    height: 100vh;
    overflow-y: auto;
    background-color: #f9f9f9 ;
  }

  .modal__container--fadeIn{
    transform: translatex(0);
    animation: fadeIn 1s ease forwards ;
  
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateX(70%);
    }

    100%{
      opacity: 1;
    }

  }

  .modal__header{
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 0;
    height: 8vh;
    width: 100%;
    background: #fff;
    color: #2c2b2b;
    backface-visibility: hidden;
    z-index: 10;
  }
  
  .modal__header--p{
    display: flex;
    align-items: center;
    width: 80%;
    padding-left: 2%;
    font-weight: 700;
    color: rgb(65, 64, 64);
  }

  .modal__button{
    display: flex;
    align-items: center;
    width: 10%;
    height: 100%;
    padding-left: 3%;
    background: transparent;
    font-size: 1.3rem;
    border: none;
    outline: none;
    cursor: pointer;
  }


  .form__search{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 8%;
    align-items: center;
    padding: 3% 3%;
    width: 100%;
    background: #f6f6f6;
    border-top: 1px solid rgb(238, 231, 231) ;
    box-shadow: 0 0.2rem 1rem 0 rgba(0, 0, 0, 0.1)
  }

  .input__search{
    width: 90%;
    height: 40px;
    padding: 3% 3%;
    background: #fff;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 1px 0 rgba(0,0,0,.2);
  }

  .input__search::placeholder{
    color: #c2bfbf;
    font-weight: 700;
    font-size: 1em;
  }




  @media (min-width: 1200px){
    .modal__container--fadeIn{
      transform: translateX(65%);
      animation: fadeIn 1s ease forwards ;
      }
  
    @keyframes fadeIn {
      0% {
        opacity: 0;
        transform: translateX(100%);
      }
  
      100%{
        opacity: 1;
      }
  
    }
  
    .modal__button{
      width: 6%;
    }

    .form__search{
      display: inline-block; 
      padding: 2% 4%;
   
    }

    .input__search{
      width: 30%;
      padding: 0 1% ;
      
    }
  
  }